docker run \
--detach \
--name="{{ ansible_nodename }}_{{ ansible_os_family }}_mysql" \
--env="MYSQL_ROOT_PASSWORD={{ password_db }}" \
--volume="/home/{{local_wsl_user}}/{{ ansible_nodename|lower }}_{{ ansible_os_family|lower }}_mysql"/conf.d:/etc/mysql/conf.d \
mysql/mysql-server:latest
